body {
    padding-top: 70px;
    margin-bottom: 20px;
}

.form-group label {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: normal;
}

textarea#summary {
    resize: vertical;
    min-height: 70px;
    max-height: 100px;
}

.btn-back {
    margin-bottom: 15px;
}

/* Overwrite Bootstrap */
.alert { margin-top: 5px; }

.tabs { margin-bottom: 10px; }

.table > tbody > tr > td { vertical-align: middle; }
